// ------------------------------
//  BUTTON MIXIN
// ------------------------------
@mixin button($button-color: $black, $button-type: '', $button-border: '', $button-size: '') {
	// Standard Button Styles
	border-radius: $buttons-border-radius;
	transition: $buttons-transition;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
	border: 1px solid $button-color;
	padding: 10px 30px;
	color: $button-color;
	text-decoration: none;
  font-family: $font-secondary;
  font-weight: 700;
  min-width: 160px;
  min-height: 20px;
  letter-spacing: 2px;
  white-space: normal;


	// Button Hover Styles
  &:hover,
  &:focus {
		border-color: $black;
		color: $black;
  }

	// Foreach Loop
	// Using the Color Variations in _variables.scss
	@each $name, $color-list in $buttons-mode-colors {
    $bgcolor: nth($color-list, 1);
    $font-color: nth($color-list, 2);

    &--#{$name} {
      background-color: $bgcolor;
      color: $font-color;
    }
  }






	// Button Size (small or normal (or no value) )
	@if $button-size == small {
		@include font-size(13);
		padding: 6px 30px 3px;
	} @else {
		&.button-small {
			font-size: 13px;
			padding: 6px 30px 3px;
		}
	}

	// Button Fill
	// solid: color is the filled background color w/white text
	// normal or no value: color is the border & text color
	@if $button-type == solid {
		background: $button-color;
		color: $light;
		@if $button-color == $light {
			color: $dark !important;
		}
		&:hover {
			border-color: $dark;
			background: $dark;
			color: $light;
		}
	} @else {
		&.button-solid {
			background: $button-color;
			color: $white;
			@each $i in $color-list {
				$alt-color: nth($i, 3);
				&.#{nth($i, 2)}-#{nth($i, 1)} {
					background: $alt-color;
					@if $alt-color == $white {
						color: $black;
					}
				}
			}
			&:hover {
				border-color: $black;
				background: $black;
				color: $white;
			}
		}
	}

	// Button Border
	// bordered: border is white
	// normal or no value: border is colored
	@if $button-border == bordered {
		border-color: $white !important;
		&:hover {
			border-color: $black;
		}
	} @else {
		&.button-bordered { border-color: $white !important; }
	}
}

