//============================
// variables
//============================

// Fonts
$font-primary:      'Space Mono';
$font-secondary:    'Montserrat';


// Alternate Colors
$light-blue		    : #C9E2EF;
$dark-blue	    : #2673B8;
$light-red		    : #F1B7B9;
$dark-red	      : #EB4B33;
$green		                : rgb(100, 167, 11);
$red		                  : rgb(218, 41, 28);
$black		                : rgb(0, 0, 0);
$white		                : rgb(255, 255, 255);


// Color Variations Array
$prefix: color;
$color-list: (
	'light-blue' $prefix $light-blue,
	'dark-blue' $prefix $dark-blue,
	'light-red' $prefix $light-red,
	'dark-red' $prefix $dark-red,
	'green' $prefix $green,
  'red' $prefix $red,
  'black' $prefix $black,
	'white' $prefix $white
);

// Theme Map Variations
$buttons-mode-colors: (
  primary-light: ($light-blue, $dark-blue),
  primary-dark: ($dark-blue, $light-blue),
  secondary-light: ($light-red, $dark-red),
  secondary-dark: ($dark-red, $light-red),
);




// Buttons Variables
$buttons-border-radius: 500px;
$buttons-transition: .3s ease-in-out;
