// ------------------------------
//  BUTTON functions
// ------------------------------

/* function
 * to get the next key in the same map with the first value
 */
@function map-get-next--first($map, $key, $fallback: false, $return: value ) {
    // Check if map is valid
    @if type-of($map) == map {
        // Check if key exists in map
        @if map-has-key($buttons-type, $key) {
            // Init index counter variable
            $i: 0;
            // Init key index
            $key-index: false;
            // Traverse map for key
            @each $map-key, $map-values in $map{
                // Update index
                $i: $i + 1;
                // If map key found, set key index
                @if $map-key == $key {
                    $key-index: $i;
                }

                // If next index return next value or key based on $return
                @if $i == $key-index + 1 {
                    @if $return == key {
                        @return $map-key;
                    } @else {
                        //@return $map-values;
                        @return nth( $map-values, 1);
                    }
                }
                // If last entry return false
                @if $i == length($map) {
                    @return $fallback;
                }
            }
            @warn 'No next map item for key #{$key}';
            @return $fallback;
        }
        @warn 'No valid key #{$key} in map';
        @return $fallback;
    }
    @warn 'No valid map';
    @return $fallback;
}


/* function
 * to get the next key in the same map with the second value
 */
 @function map-get-next--second($map, $key, $fallback: false, $return: value ) {
  // Check if map is valid
  @if type-of($map) == map {
      // Check if key exists in map
      @if map-has-key($buttons-type, $key) {
          // Init index counter variable
          $i: 0;
          // Init key index
          $key-index: false;
          // Traverse map for key
          @each $map-key, $map-values in $map{
              // Update index
              $i: $i + 1;
              // If map key found, set key index
              @if $map-key == $key {
                  $key-index: $i;
              }

              // If next index return next value or key based on $return
              @if $i == $key-index + 1 {
                  @if $return == key {
                      @return $map-key;
                  } @else {
                      //@return $map-values;
                      @return nth( $map-values, 2);
                  }
              }
              // If last entry return false
              @if $i == length($map) {
                  @return $fallback;
              }
          }
          @warn 'No next map item for key #{$key}';
          @return $fallback;
      }
      @warn 'No valid key #{$key} in map';
      @return $fallback;
  }
  @warn 'No valid map';
  @return $fallback;
}
