//----------------------------
// variables
//----------------------------

// Fonts
$font-primary:      'Space Mono';
$font-secondary:    'Montserrat';

// Basic accessibility
$font-size-basic:     		1.6rem;
$line-height-basic:   		1.5;
$letter-spacing-basic:      .192rem;
$word-spacing-basic:        .256rem;

// Alternate Colors
$light-blue                 : #C9E2EF;
$dark-blue                  : #2673B8;
$light-red                  : #F1B7B9;
$dark-red                   : #EB4B33;
$green                      : #96CA53;
$red                        : #DA291C;
$black                      : #000000;
$white                      : #ffffff;
$transparent                : #ffffff00;

// Buttons Variables
$buttons-border-radius:   50rem;
$buttons-transition:      .3s ease-in-out;

// Button type variations Map
$buttons-type: (
/*
 * key-name of the button: 
 * 1st value: bg-color, 
 * 2nd value: font-color, 
 * 3rd value: border-color,
 * from 4th value: values on hover&focus )
 */
primary-default:         ($black, $white , $black,
				                  $dark-blue, $white, $dark-blue),
primary-outline:         ($transparent, $black, $black,
				                  $black, $white, $black),
secondary-default:       ($white, $black, $white,
				                  $dark-red, $white, $dark-red),
secondary-outline:       ($transparent, $white, $white,
				                  $white, $black, $white),
);

// Themes Variations Array
$themes: (
/*
 * key-name of the theme__: 
 * 1st value: $bg-pagecolor, 
 * 2nd value: $color-1stElement (frontground element bg-color), 
 * if 3rd value: $color-2ndElement (background element bg-color),                     
 */
light-blue: 		($light-blue, $light-red, $dark-red, $dark-blue),
light-red: 			($light-red, $light-blue, $dark-blue, $dark-red),
dark-blue: 			($dark-blue, $light-red, $light-blue, $dark-red),
dark-red: 			($dark-red, $light-blue, $light-red, $dark-blue),
);