@import './../../../node_modules/@angular/material/theming';

// imports for other components in your app.
@import './utils/su-mixins';
@import './utils/su-variables';

@import './basics/fonts';
@import './basics/buttons';
@import './basics/general';



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$skillup-app-primary: mat-palette($mat-blue, 800, 50);
$skillup-app-primary--lighter: mat-palette($mat-blue, 50);
$skillup-app-secondary: mat-palette($mat-red, 100);
$skillup-app-accent:  mat-palette($mat-red, 500);
// The warn palette is optional (defaults to red).
$skillup-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$skillup-app-theme: mat-light-theme(
    $skillup-app-primary--lighter,
    $skillup-app-accent, 
    $skillup-app-warn
    );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// => specify theme class eg: <body class="my-theme"> ... </body>
.skillup-app-theme {
  
    // use our theme with angular-material-theme mixin
    @include angular-material-theme($skillup-app-theme);
  }
